/* some elements have default margin hence it has to be cleared. Use the all selector (*) to select the whole body of the website to clear all the default margins that comes with the element */
*{
    margin: 0;
}

body{
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

.roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
.baskervville-regular {
    font-family: "Baskervville", serif;
    font-weight: 400;
    font-style: normal;
  }
  
#tiny-bar{
    background-color: #C56AEB;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
}
.tiny-bar_text{
    display: flex;
}
.tiny-bar_text a {
    display: flex;
    text-decoration: none;
    font-size: 12px;
    color: white;
    margin-left: 10px;
}
#tiny-bar_line {
    margin-left: 15px;
    font-size: 15px;
    color: white;
}
.social-icons{
    display: flex;
}
.social-icons img {
    font-size: 10px;
}
#logo {
    /* resize the logo */
    width: 200px;
    /* height: 100px; */
}
nav {
    /* flex direction sets your items in a row by default so no need to specify  */
    display: flex;
    /* flex-direction: row; */
    justify-content: space-between;
    padding: 20px 60px;
    background-attachment: white;
    background-color: rgba(51, 51, 51, 0.5);
    /* background-color: white; */
    /* to make the varBar fixed when scrolling on the website */
    position: fixed;
    width: 100vw;
    height: 40px;
    
}
#nav-links {
    display: flex;
    column-gap: 20px;
}
nav button {
    background-color: white;
    padding: 10px 20px;
    /* fit content means take the height of the things within you */
    height: fit-content;
    /* border-color: rgb(155, 67, 238); */
    /* default border width hence you have to specify your preference */
    border: 2px solid rgb(155, 67, 238);
}
#hero {
    background-image: url(../assets/images/hero.jpg);
    width: 100vw;
    height: 100vh;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.hero-overlay {
    display: flex;
    flex-direction: column;
    column-gap: 10%;
    align-items: center;
    text-align: justify;
    padding-top: 18%;
}
.row{
    display: flex;
}
 
.experience-img {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 80px 120px;
    position: relative;
}
.experience-img img{
    width:450px;
    height: 550px;
}
